body {
  div {
    box-sizing: border-box;
  }

  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

// app level
.menu {
  display: flex;
  padding: 0.5em 1em;
  width: 100%;
  border: 4px solid black;
}

.app-body {
  padding: 1em;
}

// smaller things
.button-icon {
  border: none;
  font-size: 1em;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}

// session
.session-data {
  .session-group {
    display: inline-block;
    width: 50%;
  }
}

h3, h4 {
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  margin-bottom: 1em;
  border-bottom: 1px solid gray;
}

h4 {
  font-weight: 400;
}

.session-data {
  display: flex;
}

